/*------------------ Colors:Start ------------------------*/
:root {
  /*------------------ Primary Colors ------------------------*/
  --primaryOrangeDark: #ff6600 !important;
  --navPrimaryColor: #f05223 !important;
  --black: #000000 !important;
  --white: #ffffff !important;
  --headerBlack: #292929 !important;
  --headerGray: #404040 !important;
  --headerLightGray: #e3e3e3 !important;

  /*------------------ Secondary Colors ------------------------*/
  --secondaryOrange1: #ff8533 !important;
  --secondaryOrange2: #ffa366 !important;
  --secondaryOrange3: #ffb888 !important;

  /*------------------ Default Colors ------------------------*/
  --darkGrey: #151515 !important;
  --lightGrey: #f2f4f5 !important;
  --lightGreyBakground: #f8f8f8 !important;
}
/*------------------ Colors:End ------------------------*/

body {
  margin: 0;
  padding: 0;
  transition: all ease 0.5s;
}

.sticky {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  transition: background-color 0.5s ease; /* Add a transition for background-color */

  .header-black {
    height: 75px !important;
    padding-top: 0.75rem !important;
  }
}

.fixed-nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 75px;
  height: 60px;
  transition: background-color 0.5s ease; /* Add a transition for background-color */

  ul {
    li {
      &::after {
        font-size: 20px !important;
      }
      a {
        font-size: 14px !important;
        font-weight: 600 !important;
        span {
          margin-left: 0px !important;
          i {
            margin-left: -3px !important;
            font-size: 15px !important;
          }
        }
      }
      .mega-menu {
        top: 135px !important;
        .mega-menu-items {
          .mega-menu-sub-menu {
            text-align: left;
            margin: 0;
            padding-top: 0.75rem;
            font-weight: 400;
            a {
              margin: 0;
              text-transform: uppercase;
              font-size: 13px !important;
              font-weight: 300 !important;
            }
          }
        }
      }
    }
  }
}

.header-desktop {
  background-color: var(--headerBlack);
  .header-black {
    height: 90px;
    padding-top: 1.5rem;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    .logo {
      padding: 0rem 2.5rem 1rem 0.5rem;
      img {
        // width: 213px;
        height: 38px;
      }
    }
    .searchbar {
      width: 60%;
      background-color: var(--white);
      height: 43px;
      border-radius: 5px;
      #search-input {
        min-width: 320px;
        max-width: 720px;
        margin: 0;
        border: 0;
        padding-top: 0.5rem;
        float: left;
        &:focus {
          border: 0;
          box-shadow: none;
        }
      }
    }
    .user-nav {
      align-items: center !important;
      justify-content: center !important;
      display: flex !important;
      .user-nav-item {
        max-width: 100px;
        min-width: 40px;
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
        a {
          font-family: Roboto;
          color: var(--white);
          text-decoration: none;
          i {
            color: var(--secondaryOrange1);
          }
        }
      }
    }
  }
}

.ticker {
  transition: all ease 1s;
  background: var(--headerGray);
  height: 70px;
  .ticker-item {
    // margin-left: 4rem;
    margin-top: 1rem;
    border-right: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      height: 40px;
      width: 40px;
      img {
        width: 100%;
        padding: 0.25rem 0.25rem;
      }
    }
    .ticker-para {
      color: var(--white);
      font-family: Roboto;
      padding: 0;
      margin: 0;
      padding: 0.5rem 1rem;
      font-size: 14px;
    }
    .ticker-para1 {
      color: var(--white);
      font-family: Roboto;
      padding: 0;
      margin: 0;
      font-size: 14px;
    }
    .ticker-para2 {
      font-family: Roboto;
      color: var(--white);
      padding: 0;
      margin: 0;
      font-size: 12px;
    }
  }
}

.nav {
  background-color: var(--headerLightGray);
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease; /* Add a transition for background-color */

    li {
      font-family: Roboto;
      float: left;
      position: relative;
      padding: 0.75rem;
      // width: 130px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all ease 1.5s;
      // &::after {
      //   // content: "\0203A";
      //   content: "";
      //   font-size: 30px;
      //   // transform: rotate(180deg);
      //   padding: 0;
      //   margin: 4px 0px 4px 12px;
      //   color: var(--primaryOrangeDark);
      //   font-weight: 600;
      // }
      // &:hover {
      //   &::after {
      //     content: "\2039";
      //   }
      // }
      a {
        color: var(--darkGrey);
        text-decoration: none;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
        span {
          // position: relative;
          i {
            color: var(--navPrimaryColor);
            font-size: 20px;
            margin-top: 28px;
            margin-left: -8px;
          }
        }
      }
      &:hover {
        .menu-link {
          color: var(--navPrimaryColor);
          span i {
            color: var(--darkGrey);
            margin-top: 24px;
            transform: rotate(180deg);
          }
        }
      }
      .mega-menu {
        transition: all 0.3s ease-in-out;
        border-top: 3px solid var(--primaryOrangeDark);
        transition: all ease 1s;
        right: 10vw;
        left: 10vw;
        width: 80vw;
        position: fixed; // Set position to absolute
        transform: translateX(0); // Ensure no horizontal translation
        height: auto;
        color: var(--darkGrey);
        padding: 1.5rem;
        top: 235px;
        z-index: 1;
        .mega-menu-items {
          padding-bottom: 0.75rem;
          .mega-menu-heading {
            margin: 0;
            text-align: left;
            a {
              text-transform: uppercase;
              font-family: Roboto;
              padding: 0;
              font-weight: 500;
              margin: 0;
            }
          }
          hr {
            border: 1px solid var(--primaryOrangeDark);
            border-radius: 5px;
            width: 30px;
            opacity: 1;
            color: var(--primaryOrangeDark);
            margin: 0;
            margin-bottom: 1rem;
          }
          .mega-menu-sub-menu {
            text-align: left;
            margin: 0;
            padding-top: 0.25rem;
            // padding-bottom: 0.75rem;
            font-weight: 400;
            a {
              margin: 0;
              text-transform: capitalize;
              // padding-top: 5px;
              font-size: 14px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

// main {
//   height: 1000px;
//   background-color: var(--lightGreyBakground);
// }

.banner {
  #bannerCarousel {
    .text {
      font-family: Roboto;
      // position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      .text-col1 {
        margin-top: -150px;
        padding-left: 200px;
        h3 {
          color: var(--white);
          font-size: 1.85rem;
          margin-top: -280px;
        }
        h2 {
          color: var(--white);
          font-size: 2.25rem;
        }
        .btn-shop {
          background: var(--primaryOrangeDark);
          color: var(--white);
          font-size: 1.25rem;
          padding-left: 10px 5px;
          width: 300px;
        }
      }
      .text-col2 {
        margin-top: -150px;
        padding-left: 200px;
        .upto {
          color: var(--white);
          font-weight: 800;
          font-size: 3rem;
          margin-top: -330px;
        }
        .discount {
          font-family: "Roboto";
          color: var(--primaryOrangeDark);
          font-weight: 600;
          font-size: 15rem;
          margin-top: -3.75rem;
          margin-left: -36px;
          -webkit-text-fill-color: var(--primaryOrangeDark);
          -webkit-text-stroke: 3px var(--white);
        }
        .off {
          display: grid;
          .precentage {
            -webkit-text-fill-color: var(--primaryOrangeDark);
            -webkit-text-stroke: 3px var(--white);
            font-family: "Roboto";
            color: var(--primaryOrangeDark);
            font-weight: 600;
            font-size: 8rem;
            margin-left: -6vw;
            margin-top: -60px;
          }
          p {
            color: var(--white);
            font-size: 4rem;
            font-weight: 800;
            margin-left: -6vw;
            margin-top: -60px;
          }
        }
      }
    }
  }
}

.best-seller {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--lightGrey);
  // height: 500px;
  .section-heading {
    font-size: 2em;
    font-weight: 800;
    color: var(--darkGrey);
    font-family: Roboto;
  }
  .heading-hr {
    border: 2px solid var(--primaryOrangeDark);
    // margin-left: 1.85rem !important;
    border-radius: 5px;
    width: 70px;
    opacity: 1;
    color: var(--primaryOrangeDark);
    margin: 0;
    margin-bottom: 1rem;
  }
  .card {
    border-radius: 5px;
    margin: 0.25rem;
    background-color: #fff;
  }
  .card1 {
    border-radius: 5px;
    height: 310px;
    width: 100%;
    background: linear-gradient(
      135deg,
      rgba(255, 102, 0, 1) 0%,
      rgba(255, 194, 153, 1) 100%
    );
  }
  .card2 {
    border-radius: 5px;
    height: 150px;
    width: 100%;
  }
  .card3,
  .card4 {
    height: 150px;
    border-radius: 5px;
    width: 100%;
  }
}
.categories {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--white);
  height: 400px;
  .section-heading {
    font-size: 2em;
    font-weight: 800;
    color: var(--darkGrey);
    font-family: Roboto;
  }
  .heading-hr {
    border: 2px solid var(--primaryOrangeDark);
    // margin-left: 1.85rem !important;
    border-radius: 5px;
    width: 70px;
    opacity: 1;
    color: var(--primaryOrangeDark);
    margin: 0;
    margin-bottom: 1rem;
  }
  .carousel-control-prev,.carousel-control-next{
    color: var(--darkGrey);
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    &:hover{
      color:var(--black);
    }
  }
  #category-slider {
    .carousel-item {
      .slider-item {
        display: gird;
        align-items: center;
        justify-content: center;
        width: 200px;
        padding: 1rem;
        .circle-outer {
          padding: 1.5rem;
          .circle {
            position: relative;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-color: var(--headerLightGray);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            transition: all 0.5s ease-in;
            .img2 {
              height: 45px;
              width: 45px;
              position: absolute;
              top: 45%;
              left: 35%;
              transform: translate(-50%, -50%) scale(1.3);
              transition: transform 0.5s ease;
            }
            .img1 {
              height: 45px;
              width: 45px;
              position: absolute;
              top: 60%;
              left: 65%;
              transform: translate(-50%, -50%) scale(1.3);
              transition: transform 0.5s ease;
            }
          }
        }
        .category-title {
          text-align: center;
        }
        &:hover {
          .circle-outer .circle .img1 {
            transform: translate(-50%, -50%) scale(1.1);
          }.circle-outer .circle .img2 {
            transform: translate(-50%, -50%) scale(1.1);
          }
          .category-title {
            color: var(--primaryOrangeDark);
          }
        }
      }
    }
  }
}

#footer {
  background-color: var(--darkGrey);
  .footer-top {
    padding: 1rem;
    .header-row {
      align-items: left;
      // display: flex;
      justify-content: left;
      padding-top: 1rem;
      h3 {
        padding-left: 1.85rem;
        color: var(--white);
        font-size: 1.25rem;
        font-family: Roboto;
      }
      hr {
        border: 1px solid var(--primaryOrangeDark);
        margin-left: 1.85rem !important;
        border-radius: 5px;
        width: 30px;
        opacity: 1;
        color: var(--primaryOrangeDark);
        margin: 0;
        margin-bottom: 1rem;
      }
    }
    .header-img {
      align-items: left;
      display: flex;
      justify-content: start;
      padding: 1rem;
      img {
        width: 60px;
        height: 50px;
      }
    }
    .footer-desc {
      p {
        color: var(--white);
        font-family: Roboto;
        font-weight: semibold;
        font-size: 0.85rem;
        // font-size: 14px;
      }
    }
    .footer-links {
      ul {
        list-style: none;
        color: var(--white);
        // display: flex;
        align-items: left;
        justify-content: left;
        li {
          padding: 5px;
          font-size: 0.85rem;
          a {
            color: var(--white);
            text-decoration: none;
          }
        }
      }
    }
    .icons {
      margin: 0.25rem;
      height: 35px;
      width: 35px;
      border-radius: 50px;
      background-color: var(--primaryOrangeDark);
      i {
        font-size: 1.25rem;
        margin-left: -2px;
        margin-top: 7px;
        color: var(--darkGrey);
      }
    }
  }
}
@media only screen and (min-width: 800px) and (max-width: 1124px) {
  .banner {
    #bannerCarousel {
      .text {
        .text-col1 {
          margin-top: -45px;
          padding-left: 100px;
          h3 {
            color: var(--white);
            font-size: 1rem;
            margin-top: -180px;
          }
          h2 {
            color: var(--white);
            font-size: 1.25rem;
          }
          .btn-shop {
            background: var(--primaryOrangeDark);
            color: var(--white);
            font-size: 0.75rem;
            // padding-left: 10px 5px;
            width: 150px;
          }
        }
        .text-col2 {
          margin-top: -45px;
          padding-left: 100px;
          .upto {
            color: var(--white);
            font-weight: 800;
            font-size: 1.5rem;
            margin-top: -190px;
          }
          .discount {
            font-family: "Roboto";
            color: var(--primaryOrangeDark);
            font-weight: 600;
            font-size: 7.5rem;
            margin-top: -2.25rem;
            margin-left: -36px;
            -webkit-text-fill-color: var(--primaryOrangeDark);
            -webkit-text-stroke: 3px var(--white);
          }
          .off {
            display: grid;
            .precentage {
              -webkit-text-fill-color: var(--primaryOrangeDark);
              -webkit-text-stroke: 3px var(--white);
              font-family: "Roboto";
              color: var(--primaryOrangeDark);
              font-weight: 600;
              font-size: 4rem;
              margin-left: -6vw;
              margin-top: -2.25rem;
            }
            p {
              color: var(--white);
              font-size: 2rem;
              font-weight: 800;
              margin-left: -6vw;
              margin-top: -2.25rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .header-mobile {
    background-color: var(--headerBlack);
    // height: 70px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .mobile-nav-toggle {
      color: var(--white);
      font-size: 1.25rem;
    }
    .logo {
      padding-left: 1rem;
      padding-top: 0.5rem;
      img {
        width: 165px !important;
      }
    }
    .user-nav {
      margin-top: -15px;
      .user-nav-item {
        width: 40px;
        margin: 0.25rem;
        float: right;
        a {
          color: var(--white);
          text-decoration: none;
          font-size: 13px;
          i {
            color: var(--secondaryOrange1);
          }
        }
      }
    }
    .searchbar {
      background-color: var(--white);
      border-radius: 5px;
      .form-control {
        font-size: 0.75rem;
      }
    }
  }
  .ticker {
    height: 50px;
    .ticker-item {
      margin: 0.5rem 0rem;
      border-right: 0;
      font-family: Roboto;
      .icon {
        height: 35px;
        width: 35px;
        img {
          width: 100%;
          padding: 0.25rem 0.25rem;
        }
      }
      .ticker-para {
        font-size: 12px !important;
        padding: 0.5rem 0.5rem;
      }
      .ticker-para1 {
        font-size: 12px !important;
        padding: 0;
      }
      .ticker-para2 {
        font-size: 10px !important;
      }
    }
  }
  .banner {
    #bannerCarousel {
      .text {
        .text-col1 {
          // margin-top: -50px;
          padding-left: 100px;
          h3 {
            color: var(--white);
            font-size: 1rem;
            margin-top: -250px;
          }
          h2 {
            color: var(--white);
            font-size: 1.25rem;
          }
        }
        .text-col2 {
          // margin-top: 50px;
          padding-left: 125px;
          .upto {
            display: none;
            color: var(--white);
            font-weight: 800;
            font-size: 1.5rem;
            margin-top: -200px;
            // margin-left: -30px;
          }
          .discount {
            font-family: "Roboto";
            color: var(--primaryOrangeDark);
            font-weight: 600;
            font-size: 5rem;
            margin-top: -150px;
            margin-left: 0;
            -webkit-text-fill-color: var(--primaryOrangeDark);
            -webkit-text-stroke: 3px var(--white);
          }
          .off {
            display: grid;
            .precentage {
              -webkit-text-fill-color: var(--primaryOrangeDark);
              -webkit-text-stroke: 3px var(--white);
              font-family: "Roboto";
              color: var(--primaryOrangeDark);
              font-weight: 800;
              font-size: 2rem;
              margin-left: -60px;
              margin-top: -140px;
            }
            p {
              color: var(--white);
              font-size: 2rem;
              font-weight: 800;
              margin-left: -60px;
              margin-top: -110px;
            }
          }
          .btn-shop {
            background: var(--primaryOrangeDark);
            color: var(--white);
            margin-top: -110px;
            font-size: 0.75rem;
            font-weight: 600;
            padding-left: 10px 5px;
            width: 150px;
          }
        }
      }
    }
  }
}
