/*------------------ Colors:Start ------------------------*/
:root {
  /*------------------ Primary Colors ------------------------*/
  --primaryOrangeDark: #ff6600 !important;
  --black: #000000 !important;
  --white: #ffffff !important;
  --headerBlack: #292929 !important;
  --headerGray: #404040 !important;
  --headerLightGray: #e3e3e3 !important;

  /*------------------ Secondary Colors ------------------------*/
  --secondaryOrange1: #ff8533 !important;
  --secondaryOrange2: #ffa366 !important;
  --secondaryOrange3: #ffb888 !important;

  /*------------------ Default Colors ------------------------*/
  --darkGrey: #151515 !important;
  --lightGrey: #f2f4f5 !important;
  --lightGreyBakground: #f8f8f8 !important;
}
/*------------------ Colors:End ------------------------*/

body {
  margin: 0;
  padding: 0;
  transition: all ease 0.5s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.5s ease; /* Add a transition for background-color */

  .header-black {
    height: 75px !important;
    padding-top: 0.75rem !important;
  }
}
.fixed-nav {
  position: fixed;
  width: 100%;
  top: 75px;
  height: 60px;
  transition: background-color 0.5s ease; /* Add a transition for background-color */

  ul {
    li {
      &::after {
        font-size: 20px !important;
      }
      a {
        font-size: 14px !important;
        font-weight: 600 !important;
      }
      .mega-menu {
        top: 135px !important;
        .mega-menu-items {
          .mega-menu-sub-menu {
            text-align: left;
            margin: 0;
            padding-top: 0.75rem;
            font-weight: 400;
            a {
              margin: 0;
              text-transform: uppercase;
              font-size: 13px !important;
              font-weight: 300 !important;
            }
          }
        }
      }
    }
  }
}

.header-desktop {
  background-color: var(--headerBlack);
  .header-black {
    height: 90px;
    padding-top: 1.5rem;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    .logo {
      padding: 0rem 0.5rem 1rem 0.5rem;
      img {
        // width: 213px;
        height: 38px;
      }
    }
    .searchbar {
      width: 60%;
      background-color: var(--white);
      height: 43px;
      border-radius: 5px;
      #search-input {
        min-width: 320px;
        max-width: 720px;
        margin: 0;
        border: 0;
        padding-top: 0.5rem;
        float: left;
        &:focus {
          border: 0;
          box-shadow: none;
        }
      }
    }
    .user-nav {
      align-items: center !important;
      justify-content: center !important;
      display: flex !important;
      .user-nav-item {
        max-width: 100px;
        min-width: 40px;
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
        a {
          font-family: Roboto;
          color: var(--white);
          text-decoration: none;
          i {
            color: var(--secondaryOrange1);
          }
        }
      }
    }
  }
}

.ticker {
  transition: all ease 1s;
  background: var(--headerGray);
  height: 70px;
  .ticker-item {
    // margin-left: 4rem;
    margin-top: 1rem;
    border-right: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      height: 40px;
      width: 40px;
      img {
        width: 100%;
        padding: 0.25rem 0.25rem;
      }
    }
    .ticker-para {
      color: var(--white);
      font-family: Roboto;
      padding: 0;
      margin: 0;
      padding: 0.5rem 1rem;
      font-size: 14px;
    }
    .ticker-para1 {
      color: var(--white);
      font-family: Roboto;
      padding: 0;
      margin: 0;
      font-size: 14px;
    }
    .ticker-para2 {
      font-family: Roboto;
      color: var(--white);
      padding: 0;
      margin: 0;
      font-size: 12px;
    }
  }
}

.nav {
  background-color: var(--headerLightGray);
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    li {
      font-family: Roboto;
      float: left;
      position: relative;
      padding: 0.75rem;
      width: 130px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all ease 1.5s;
      &::after {
        content: "\0203A";
        font-size: 30px;
        transform: rotate(90deg);
        padding: 0;
        margin: 4px 0px 4px 12px;
        color: var(--primaryOrangeDark);
        font-weight: 600;
      }
      &:hover {
        &::after {
          content: "\2039";
        }
      }
      a {
        color: var(--darkGrey);
        text-decoration: none;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
        span {
          position: relative;
          i {
            color: var(--primaryOrangeDark);
            font-size: 9px;
            // top: -1rem;
            margin-left: 5px; /* Added margin for spacing between text and icon */
            top: -0.25rem; /* Adjusted top position to align with text */
          }
        }
      }
      .mega-menu {
        transition: all 0.3s ease-in-out;
        border-top: 3px solid var(--primaryOrangeDark);
        transition: all ease 1s;
        right: 0;
        width: 100vw;
        position: fixed; // Set position to absolute
        transform: translateX(0); // Ensure no horizontal translation
        height: auto;
        padding: 1.5rem;
        top: 240px;
        z-index: 1;
        // right: 0;
        .mega-menu-items {
          padding-bottom: 0.75rem;
          .mega-menu-heading {
            margin: 0;
            text-align: left;
            a {
              text-transform: uppercase;
              font-family: Roboto;
              padding: 0;
              font-weight: 500;
              margin: 0;
            }
          }
          hr {
            border: 2px solid #ff6600;
            border-radius: 5px;
            width: 30px;
            opacity: 1;
            color: #ff6600;
            margin: 0;
            margin-bottom: 1rem;
          }
          .mega-menu-sub-menu {
            text-align: left;
            margin: 0;
            padding-top: 0.75rem;
            // padding-bottom: 0.75rem;
            font-weight: 400;
            a {
              margin: 0;
              text-transform: uppercase;
              // padding-top: 5px;
              font-size: 14px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

main {
  height: 1000px;
  background-color: var(--lightGreyBakground);
}

@media only screen and (max-width: 600px) {
  .header-mobile {
    background-color: var(--headerBlack);
    // height: 70px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .mobile-nav-toggle {
      color: var(--white);
      font-size: 1.25rem;
    }
    .logo {
      padding-left: 1rem;
      padding-top: 0.5rem;
      img {
        width: 100%;
      }
    }
    .user-nav {
      margin-top: -15px;
      .user-nav-item {
        width: 40px;
        margin: 0.25rem;
        float: right;
        a {
          color: var(--white);
          text-decoration: none;
          font-size: 13px;
          i {
            color: var(--secondaryOrange1);
          }
        }
      }
    }
    .searchbar {
      background-color: var(--white);
      border-radius: 5px;
      .form-control {
        font-size: 0.75rem;
      }
    }
  }
  .ticker {
    height: 50px;
    .ticker-item {
      margin: 0.5rem 0rem;
      border-right: 0;
      font-family: Roboto;
      .icon {
        height: 35px;
        width: 35px;
        img {
          width: 100%;
          padding: 0.25rem 0.25rem;
        }
      }
      .ticker-para {
        font-size: 12px !important;
        padding: 0.5rem 0.5rem;
      }
      .ticker-para1 {
        font-size: 12px !important;
        padding: 0;
      }
      .ticker-para2 {
        font-size: 10px !important;
      }
    }
  }
}
