/*------------------ Colors:Start ------------------------*/
:root {
  /*------------------ Primary Colors ------------------------*/
  --primaryOrangeDark: #ff6600 !important;
  --navPrimaryColor: #f05223 !important;
  --black: #000000 !important;
  --white: #ffffff !important;
  --headerBlack: #292929 !important;
  --headerGray: #404040 !important;
  --headerLightGray: #e3e3e3 !important;
  /*------------------ Secondary Colors ------------------------*/
  --secondaryOrange1: #ff8533 !important;
  --secondaryOrange2: #ffa366 !important;
  --secondaryOrange3: #ffb888 !important;
  /*------------------ Default Colors ------------------------*/
  --darkGrey: #151515 !important;
  --lightGrey: #f2f4f5 !important;
  --lightGreyBakground: #f8f8f8 !important;
}

/*------------------ Colors:End ------------------------*/
body {
  margin: 0;
  padding: 0;
  transition: all ease 0.5s;
}

.sticky {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  transition: background-color 0.5s ease; /* Add a transition for background-color */
}
.sticky .header-black {
  height: 75px !important;
  padding-top: 0.75rem !important;
}

.fixed-nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 75px;
  height: 60px;
  transition: background-color 0.5s ease; /* Add a transition for background-color */
}
.fixed-nav ul li::after {
  font-size: 20px !important;
}
.fixed-nav ul li a {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.fixed-nav ul li a span {
  margin-left: 0px !important;
}
.fixed-nav ul li a span i {
  margin-left: -3px !important;
  font-size: 15px !important;
}
.fixed-nav ul li .mega-menu {
  top: 135px !important;
}
.fixed-nav ul li .mega-menu .mega-menu-items .mega-menu-sub-menu {
  text-align: left;
  margin: 0;
  padding-top: 0.75rem;
  font-weight: 400;
}
.fixed-nav ul li .mega-menu .mega-menu-items .mega-menu-sub-menu a {
  margin: 0;
  text-transform: uppercase;
  font-size: 13px !important;
  font-weight: 300 !important;
}

.header-desktop {
  background-color: var(--headerBlack);
}
.header-desktop .header-black {
  height: 90px;
  padding-top: 1.5rem;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}
.header-desktop .header-black .logo {
  padding: 0rem 2.5rem 1rem 0.5rem;
}
.header-desktop .header-black .logo img {
  height: 38px;
}
.header-desktop .header-black .searchbar {
  width: 60%;
  background-color: var(--white);
  height: 43px;
  border-radius: 5px;
}
.header-desktop .header-black .searchbar #search-input {
  min-width: 320px;
  max-width: 720px;
  margin: 0;
  border: 0;
  padding-top: 0.5rem;
  float: left;
}
.header-desktop .header-black .searchbar #search-input:focus {
  border: 0;
  box-shadow: none;
}
.header-desktop .header-black .user-nav {
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}
.header-desktop .header-black .user-nav .user-nav-item {
  max-width: 100px;
  min-width: 40px;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}
.header-desktop .header-black .user-nav .user-nav-item a {
  font-family: Roboto;
  color: var(--white);
  text-decoration: none;
}
.header-desktop .header-black .user-nav .user-nav-item a i {
  color: var(--secondaryOrange1);
}

.ticker {
  transition: all ease 1s;
  background: var(--headerGray);
  height: 70px;
}
.ticker .ticker-item {
  margin-top: 1rem;
  border-right: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ticker .ticker-item .icon {
  height: 40px;
  width: 40px;
}
.ticker .ticker-item .icon img {
  width: 100%;
  padding: 0.25rem 0.25rem;
}
.ticker .ticker-item .ticker-para {
  color: var(--white);
  font-family: Roboto;
  padding: 0;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 14px;
}
.ticker .ticker-item .ticker-para1 {
  color: var(--white);
  font-family: Roboto;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.ticker .ticker-item .ticker-para2 {
  font-family: Roboto;
  color: var(--white);
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.nav {
  background-color: var(--headerLightGray);
}
.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease; /* Add a transition for background-color */
}
.nav ul li {
  font-family: Roboto;
  float: left;
  position: relative;
  padding: 0.75rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 1.5s;
}
.nav ul li a {
  color: var(--darkGrey);
  text-decoration: none;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}
.nav ul li a span i {
  color: var(--navPrimaryColor);
  font-size: 20px;
  margin-top: 28px;
  margin-left: -8px;
}
.nav ul li:hover .menu-link {
  color: var(--navPrimaryColor);
}
.nav ul li:hover .menu-link span i {
  color: var(--darkGrey);
  margin-top: 24px;
  transform: rotate(180deg);
}
.nav ul li .mega-menu {
  transition: all 0.3s ease-in-out;
  border-top: 3px solid var(--primaryOrangeDark);
  transition: all ease 1s;
  right: 10vw;
  left: 10vw;
  width: 80vw;
  position: fixed;
  transform: translateX(0);
  height: auto;
  color: var(--darkGrey);
  padding: 1.5rem;
  top: 235px;
  z-index: 1;
}
.nav ul li .mega-menu .mega-menu-items {
  padding-bottom: 0.75rem;
}
.nav ul li .mega-menu .mega-menu-items .mega-menu-heading {
  margin: 0;
  text-align: left;
}
.nav ul li .mega-menu .mega-menu-items .mega-menu-heading a {
  text-transform: uppercase;
  font-family: Roboto;
  padding: 0;
  font-weight: 500;
  margin: 0;
}
.nav ul li .mega-menu .mega-menu-items hr {
  border: 1px solid var(--primaryOrangeDark);
  border-radius: 5px;
  width: 30px;
  opacity: 1;
  color: var(--primaryOrangeDark);
  margin: 0;
  margin-bottom: 1rem;
}
.nav ul li .mega-menu .mega-menu-items .mega-menu-sub-menu {
  text-align: left;
  margin: 0;
  padding-top: 0.25rem;
  font-weight: 400;
}
.nav ul li .mega-menu .mega-menu-items .mega-menu-sub-menu a {
  margin: 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.banner #bannerCarousel .text {
  font-family: Roboto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.banner #bannerCarousel .text .text-col1 {
  margin-top: -150px;
  padding-left: 200px;
}
.banner #bannerCarousel .text .text-col1 h3 {
  color: var(--white);
  font-size: 1.85rem;
  margin-top: -280px;
}
.banner #bannerCarousel .text .text-col1 h2 {
  color: var(--white);
  font-size: 2.25rem;
}
.banner #bannerCarousel .text .text-col1 .btn-shop {
  background: var(--primaryOrangeDark);
  color: var(--white);
  font-size: 1.25rem;
  padding-left: 10px 5px;
  width: 300px;
  border-radius: 3px;
}
.banner #bannerCarousel .text .text-col2 {
  margin-top: -150px;
  padding-left: 200px;
}
.banner #bannerCarousel .text .text-col2 .upto {
  color: var(--white);
  font-weight: 800;
  font-size: 3rem;
  margin-top: -330px;
}
.banner #bannerCarousel .text .text-col2 .discount {
  font-family: "Roboto";
  color: var(--primaryOrangeDark);
  font-weight: 600;
  font-size: 15rem;
  margin-top: -3.75rem;
  margin-left: -36px;
  -webkit-text-fill-color: var(--primaryOrangeDark);
  -webkit-text-stroke: 3px var(--white);
}
.banner #bannerCarousel .text .text-col2 .off {
  display: grid;
}
.banner #bannerCarousel .text .text-col2 .off .precentage {
  -webkit-text-fill-color: var(--primaryOrangeDark);
  -webkit-text-stroke: 3px var(--white);
  font-family: "Roboto";
  color: var(--primaryOrangeDark);
  font-weight: 600;
  font-size: 8rem;
  margin-left: -6vw;
  margin-top: -60px;
}
.banner #bannerCarousel .text .text-col2 .off p {
  color: var(--white);
  font-size: 4rem;
  font-weight: 800;
  margin-left: -6vw;
  margin-top: -60px;
}

.best-seller {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--lightGrey);
}
.best-seller .section-heading {
  font-size: 2em;
  font-weight: 800;
  color: var(--darkGrey);
  font-family: Roboto;
}
.best-seller .heading-hr {
  border: 2px solid var(--primaryOrangeDark);
  border-radius: 5px;
  width: 70px;
  opacity: 1;
  color: var(--primaryOrangeDark);
  margin: 0;
  margin-bottom: 1rem;
}
.best-seller .card {
  border-radius: 5px;
  margin: 0.25rem;
  background-color: #fff;
  transition: all 0.3s ease-out;
}
.best-seller .card1 {
  border-radius: 10px;
  height: 310px;
  border: 4px solid #fff;
}
.best-seller .card1 .btn-shop-now {
  text-align: center;
  margin-top: 250px;
  height: 36px;
  margin-left: 20px;
  font-family: "Roboto";
  font-weight: 500;
  color: var(--white);
  border-radius: 4px;
  width: 140px;
  border: 1px solid var(--white);
  background: transparent;
}
.best-seller .card1:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.best-seller .card1:hover .btn-shop-now {
  color: var(--primaryOrangeDark);
  background-color: var(--white);
}
.best-seller .card2 {
  border-radius: 10px;
  border: 4px solid #fff;
  height: 150px;
  width: 100%;
}
.best-seller .card2 .btn-shop-now {
  text-align: center;
  margin-top: 100px;
  height: 36px;
  margin-left: 35%;
  font-family: "Roboto";
  font-weight: 500;
  color: var(--white);
  border-radius: 4px;
  width: 252px;
  border: 1px solid var(--white);
  background: transparent;
}
.best-seller .card2:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.best-seller .card2:hover .btn-shop-now {
  color: var(--primaryOrangeDark);
  background-color: var(--white);
}
.best-seller .card3 {
  height: 150px;
  border: 4px solid #fff;
  border-radius: 10px;
  width: 100%;
}
.best-seller .card3 .btn-shop-now {
  text-align: center;
  margin-top: 100px;
  height: 30px;
  margin-left: 10px;
  font-family: "Roboto";
  line-height: 1;
  font-weight: 500;
  color: var(--white);
  border-radius: 4px;
  width: 110px;
  border: 1px solid var(--white);
  background: transparent;
}
.best-seller .card3:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.best-seller .card3:hover .btn-shop-now {
  color: var(--primaryOrangeDark);
  background-color: var(--white);
}
.best-seller .card4 {
  height: 150px;
  border: 4px solid #fff;
  border-radius: 10px;
  width: 100%;
}
.best-seller .card4 .btn-shop-now {
  text-align: center;
  margin-top: 100px;
  height: 30px;
  line-height: 1;
  margin-left: 50%;
  font-family: "Roboto";
  font-weight: 500;
  color: var(--white);
  border-radius: 4px;
  width: 110px;
  border: 1px solid var(--white);
  background: transparent;
}
.best-seller .card4:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.best-seller .card4:hover .btn-shop-now {
  color: var(--primaryOrangeDark);
  background-color: var(--white);
}

.categories {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--white);
  height: 400px;
}
.categories .section-heading {
  font-size: 2em;
  font-weight: 800;
  color: var(--darkGrey);
  font-family: Roboto;
}
.categories .heading-hr {
  border: 2px solid var(--primaryOrangeDark);
  border-radius: 5px;
  width: 70px;
  opacity: 1;
  color: var(--primaryOrangeDark);
  margin: 0;
  margin-bottom: 1rem;
}
.categories .carousel-control-prev,
.categories .carousel-control-next {
  color: var(--darkGrey);
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
}
.categories .carousel-control-prev:hover,
.categories .carousel-control-next:hover {
  color: var(--black);
}
.categories #category-slider .card .circle-outer {
  padding: 1rem 1.5rem;
}
.categories #category-slider .card .circle-outer .circle {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--headerLightGray);
  padding: 1.5rem;
  transition: all 0.5s ease-in;
}
.categories #category-slider .card .circle-outer .circle .img2 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%) scale(1.3);
  transition: transform 0.5s ease;
}
.categories #category-slider .card .circle-outer .circle .img1 {
  z-index: 1;
  height: 45px;
  width: 45px;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%) scale(1.3);
  transition: transform 0.5s ease;
}
.categories #category-slider .card .category-title {
  text-align: center;
}
.categories #category-slider .card:hover .circle-outer .circle .img1 {
  left: 60%;
  transition: all 0.4s ease-in;
}
.categories #category-slider .card:hover .circle-outer .circle .img2 {
  transition: all 0.4s ease-in;
  left: 40%;
}
.categories #category-slider .card:hover .category-title {
  color: var(--primaryOrangeDark);
}

.sale {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--lightGrey);
}
.sale .section-heading {
  font-size: 2em;
  font-weight: 800;
  color: var(--darkGrey);
  font-family: Roboto;
}
.sale .heading-hr {
  border: 2px solid var(--primaryOrangeDark);
  border-radius: 5px;
  width: 70px;
  opacity: 1;
  color: var(--primaryOrangeDark);
  margin: 0;
  margin-bottom: 1rem;
}
.sale .card {
  margin-bottom: 0.5rem;
}
.sale .card .card1,
.sale .card .card2 {
  border-radius: 10px;
  border: 4px solid #fff;
  height: 310px;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sale .card .card1 .btn-shop-now,
.sale .card .card2 .btn-shop-now {
  text-align: center;
  margin-top: 250px;
  height: 36px;
  margin-left: 32%;
  font-family: "Roboto";
  font-weight: 500;
  color: var(--white);
  border-radius: 4px;
  width: 160px;
  border: 1px solid var(--white);
  background: transparent;
}
.sale .card .card1:hover,
.sale .card .card2:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sale .card .card1:hover .btn-shop-now,
.sale .card .card2:hover .btn-shop-now {
  color: var(--primaryOrangeDark);
  background-color: var(--white);
}

.most-popular {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--white);
}
.most-popular .section-heading {
  font-size: 2em;
  font-weight: 800;
  color: var(--darkGrey);
  font-family: Roboto;
}
.most-popular .heading-hr {
  border: 2px solid var(--primaryOrangeDark);
  border-radius: 5px;
  width: 70px;
  opacity: 1;
  color: var(--primaryOrangeDark);
  margin: 0;
  margin-bottom: 1rem;
}
.most-popular .carousel-control-prev,
.most-popular .carousel-control-next {
  color: var(--darkGrey);
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
}
.most-popular .carousel-control-prev:hover,
.most-popular .carousel-control-next:hover {
  color: var(--black);
}
.most-popular #popular-slider .card,
.most-popular #popular-slider-phone .card {
  margin-bottom: 10px;
}
.most-popular #popular-slider .card .card-top,
.most-popular #popular-slider-phone .card .card-top {
  background-color: var(--lightGrey);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
}
.most-popular #popular-slider .card .card-top img,
.most-popular #popular-slider-phone .card .card-top img {
  transform: scale(0.8);
  transition: all 0.4s ease-in;
}
.most-popular #popular-slider .card .card-body,
.most-popular #popular-slider-phone .card .card-body {
  font-family: "Roboto";
  padding: 0.25rem !important;
}
.most-popular #popular-slider .card .card-body .card-title,
.most-popular #popular-slider-phone .card .card-body .card-title {
  font-size: 13px;
  text-align: justify;
}
.most-popular #popular-slider .card .card-body .rating span i,
.most-popular #popular-slider-phone .card .card-body .rating span i {
  font-size: 10px;
  padding: 0;
}
.most-popular #popular-slider .card .card-body .pricing p,
.most-popular #popular-slider-phone .card .card-body .pricing p {
  color: #001f3f;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.most-popular #popular-slider .card .card-body .vat,
.most-popular #popular-slider-phone .card .card-body .vat {
  color: #ababab;
  font-weight: normal;
  font-size: 11px;
  text-align: right;
  padding: 0;
  margin: 0;
  padding-right: 0.55rem;
}
.most-popular #popular-slider .card .card-body .btn-row,
.most-popular #popular-slider-phone .card .card-body .btn-row {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.most-popular #popular-slider .card .card-body .btn-row .btncart,
.most-popular #popular-slider-phone .card .card-body .btn-row .btncart {
  font-size: 14px;
  border: 0.5px solid rgba(51, 51, 51, 0.2666666667);
  align-items: center;
  justify-content: center;
}
.most-popular #popular-slider .card:hover,
.most-popular #popular-slider-phone .card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.most-popular #popular-slider .card:hover .card-top img,
.most-popular #popular-slider-phone .card:hover .card-top img {
  transform: scale(0.9);
}
.most-popular #popular-slider .card:hover .btn-row .btncart,
.most-popular #popular-slider-phone .card:hover .btn-row .btncart {
  color: var(--white);
  background-color: var(--primaryOrangeDark);
  border: 0.5px solid var(--primaryOrangeDark);
}

.premium-brands {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--white);
}
.premium-brands .section-heading {
  font-size: 2em;
  font-weight: 800;
  color: var(--darkGrey);
  font-family: Roboto;
}
.premium-brands .heading-hr {
  border: 2px solid var(--primaryOrangeDark);
  border-radius: 5px;
  width: 70px;
  opacity: 1;
  color: var(--primaryOrangeDark);
  margin: 0;
  margin-bottom: 1rem;
}
.premium-brands .carousel-control-prev,
.premium-brands .carousel-control-next {
  color: var(--darkGrey);
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
}
.premium-brands .carousel-control-prev:hover,
.premium-brands .carousel-control-next:hover {
  color: var(--black);
}
.premium-brands .card {
  margin-top: 10px;
  font-family: "Roboto";
  border: 0.5px solid #dcdcdc;
}
.premium-brands .card .card-title {
  font-size: 16px;
  color: #001f3f;
}
.premium-brands .card .card-text {
  font-size: 12px;
  color: #6b5e5e;
}
.premium-brands .card .button .btn-shop-now {
  color: #fff;
  background-color: var(--primaryOrangeDark);
  width: 100px;
  height: 25px;
  line-height: 0.8;
  border-radius: 4px;
}
.premium-brands .card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.premium-brands .card-grey {
  background: linear-gradient(333deg, rgb(255, 255, 255) 0%, rgb(220, 220, 220) 75%, rgb(187, 187, 187) 100%);
}
.premium-brands .card-orange {
  background: linear-gradient(333deg, rgb(255, 255, 255) 0%, rgb(253, 214, 202) 75%, rgb(250, 191, 173) 100%);
}

.new-products {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(255, 194, 153, 0.05);
}
.new-products .section-heading {
  font-size: 2em;
  font-weight: 800;
  color: var(--darkGrey);
  font-family: Roboto;
}
.new-products .heading-hr {
  border: 2px solid var(--primaryOrangeDark);
  border-radius: 5px;
  width: 70px;
  opacity: 1;
  color: var(--primaryOrangeDark);
  margin: 0;
  margin-bottom: 1rem;
}
.new-products .carousel-control-prev,
.new-products .carousel-control-next {
  color: var(--darkGrey);
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
}
.new-products .carousel-control-prev:hover,
.new-products .carousel-control-next:hover {
  color: var(--black);
}
.new-products #products-slider,
.new-products #products-slider-phone {
  background-color: var(--white);
  height: 240px;
}
.new-products #products-slider .card,
.new-products #products-slider-phone .card {
  margin-top: 10px;
  padding: 0.25rem;
}
.new-products #products-slider .card .card-img,
.new-products #products-slider-phone .card .card-img {
  background-color: var(--lightGrey);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.new-products #products-slider .card .card-img img,
.new-products #products-slider-phone .card .card-img img {
  transform: scale(0.8);
  transition: all 0.3s ease-out;
}
.new-products #products-slider .card .card-body,
.new-products #products-slider-phone .card .card-body {
  display: none;
  font-family: "Roboto";
  padding: 0.25rem !important;
}
.new-products #products-slider .card .card-body .card-title,
.new-products #products-slider-phone .card .card-body .card-title {
  font-size: 13px;
  text-align: justify;
}
.new-products #products-slider .card .card-body .rating span i,
.new-products #products-slider-phone .card .card-body .rating span i {
  font-size: 10px;
  padding: 0;
}
.new-products #products-slider .card .card-body .pricing p,
.new-products #products-slider-phone .card .card-body .pricing p {
  color: #001f3f;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.new-products #products-slider .card .card-body .vat,
.new-products #products-slider-phone .card .card-body .vat {
  color: #ababab;
  font-weight: normal;
  font-size: 11px;
  text-align: right;
  padding: 0;
  margin: 0;
  padding-right: 0.55rem;
}
.new-products #products-slider .card .card-body .btn-row,
.new-products #products-slider-phone .card .card-body .btn-row {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.new-products #products-slider .card .card-body .btn-row .btncart,
.new-products #products-slider-phone .card .card-body .btn-row .btncart {
  font-size: 14px;
  border: 0.5px solid rgba(51, 51, 51, 0.2666666667);
  align-items: center;
  justify-content: center;
}
.new-products #products-slider .card:hover,
.new-products #products-slider-phone .card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.new-products #products-slider .card:hover .card-img,
.new-products #products-slider-phone .card:hover .card-img {
  height: 80px !important;
}
.new-products #products-slider .card:hover .card-img img,
.new-products #products-slider-phone .card:hover .card-img img {
  transform: scale(0.3);
}
.new-products #products-slider .card:hover .card-body,
.new-products #products-slider-phone .card:hover .card-body {
  display: block;
}
.new-products #products-slider .card:hover .btn-row .btncart,
.new-products #products-slider-phone .card:hover .btn-row .btncart {
  color: var(--white);
  background-color: var(--primaryOrangeDark);
  border: 0.5px solid var(--primaryOrangeDark);
}

.customer-reviews {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--lightGrey);
}
.customer-reviews .section-heading {
  font-size: 2em;
  font-weight: 800;
  color: var(--darkGrey);
  font-family: Roboto;
}
.customer-reviews .section-heading1 {
  font-size: 1.75em;
  color: #302f2f;
  font-family: Roboto;
  padding: 0;
  margin: 0;
}
.customer-reviews .heading-hr {
  border: 2px solid var(--primaryOrangeDark);
  border-radius: 5px;
  width: 70px;
  opacity: 1;
  color: var(--primaryOrangeDark);
  margin: 0;
  margin-bottom: 1rem;
}
.customer-reviews .carousel-control-prev,
.customer-reviews .carousel-control-next {
  color: var(--darkGrey);
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
}
.customer-reviews .carousel-control-prev:hover,
.customer-reviews .carousel-control-next:hover {
  color: var(--black);
}
.customer-reviews .buttons {
  text-align: right;
}
.customer-reviews .card {
  background-color: transparent;
  border: none;
}
.customer-reviews .card .col1 {
  max-width: 15vw;
  margin-left: 10px;
  z-index: 1;
}
.customer-reviews .card .col1 .img-card {
  background-color: #fff;
  border: 0.5px solid #f8b4a0;
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.customer-reviews .card .col1 .img-card .img-div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-reviews .card .col1 .img-card .name h5 {
  padding: 0;
  margin: 0;
}
.customer-reviews .card .col1 .img-card .name p {
  color: #6b5e5e;
  font-size: 14px;
}
.customer-reviews .card .col2 {
  margin-left: -20px;
  max-width: 85vw;
}
.customer-reviews .card .col2 .review {
  background-color: #fff;
  border: 0.5px solid #f8b4a0;
  border-radius: 5px;
  margin-top: 5rem;
}
.customer-reviews .card .col2 .review .para-text {
  padding: 3.5rem 3rem;
  text-align: justify;
  font-size: 16px;
  color: #6b5e5e;
}
.customer-reviews .card .col2 .review .para-text span {
  color: var(--primaryOrangeDark);
  font-size: 25px;
}

.newsletter {
  background-color: #fff;
  padding: 3rem;
}
.newsletter .img-row {
  background-size: 100% 100%;
  border-radius: 16px;
  padding: 1.5rem;
  font-family: "Roboto";
}
.newsletter .img-row .subscribe {
  color: var(--primaryOrangeDark);
  font-size: 40px;
  text-align: center;
}
.newsletter .img-row .para-text {
  text-align: center;
  color: var(--lightGrey);
  font-size: 16px;
  padding: 1rem;
}
.newsletter .img-row .para-sub-text {
  color: var(--lightGrey);
  font-size: 12px;
  padding: 1rem;
  text-align: center;
}
.newsletter .img-row .input-group {
  align-items: center;
  justify-self: center;
}
.newsletter .img-row .input-group .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 10px;
}
.newsletter .img-row .input-group .form-control:focus {
  box-shadow: none;
  border: 2px solid var(--secondaryOrange1);
}
.newsletter .img-row .input-group .btn {
  min-height: 50px;
  border-radius: 0 10px 10px 0;
  background: var(--secondaryOrange1);
  color: #fff;
  font-weight: 600;
}

#footer {
  background-color: var(--darkGrey);
}
#footer .footer-desktop {
  padding: 1rem;
}
#footer .footer-desktop .header-row {
  align-items: left;
  justify-content: left;
  padding-top: 1rem;
}
#footer .footer-desktop .header-row h3 {
  padding-left: 1.85rem;
  color: var(--white);
  font-size: 1.25rem;
  font-family: Roboto;
}
#footer .footer-desktop .header-row hr {
  border: 1px solid var(--primaryOrangeDark);
  margin-left: 1.85rem !important;
  border-radius: 5px;
  width: 30px;
  opacity: 1;
  color: var(--primaryOrangeDark);
  margin: 0;
  margin-bottom: 1rem;
}
#footer .footer-desktop .header-img {
  align-items: left;
  display: flex;
  justify-content: start;
  padding: 1rem;
}
#footer .footer-desktop .header-img img {
  width: 60px;
  height: 50px;
}
#footer .footer-desktop .footer-desc p {
  color: var(--white);
  font-family: Roboto;
  font-weight: semibold;
  font-size: 0.85rem;
}
#footer .footer-desktop .footer-links ul {
  list-style: none;
  color: var(--white);
  align-items: left;
  justify-content: left;
}
#footer .footer-desktop .footer-links ul li {
  padding: 5px;
  font-size: 0.85rem;
}
#footer .footer-desktop .footer-links ul li a {
  color: var(--white);
  text-decoration: none;
}
#footer .footer-desktop .icons {
  margin: 0.25rem;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background-color: var(--primaryOrangeDark);
}
#footer .footer-desktop .icons i {
  font-size: 1.25rem;
  margin-left: -2px;
  margin-top: 7px;
  color: var(--darkGrey);
}

.slider {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider .arrow {
  color: var(--navPrimaryColor);
  font-weight: 900;
  font-size: 80px;
  padding: 0;
  margin: 0;
}
.slider .arrow i {
  padding: 0;
  margin: 0;
}
.slider h2 {
  color: #21548a;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.slider h3 {
  color: #001f3f;
  font-size: 53px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
}

.signin {
  padding: 3rem;
  font-family: "Roboto";
}
.signin .signin-div,
.signin .signup-div {
  width: 550px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 16px;
  padding: 1rem 3rem;
}
.signin .signin-div .head,
.signin .signup-div .head {
  font: "Roboto";
  font-size: 34px;
  font-weight: 700;
  color: #001f3f;
  text-align: left;
}
.signin .signin-div .head a,
.signin .signup-div .head a {
  text-decoration: none;
  color: #ababab;
  font-weight: 500;
}
.signin .signin-div .heading-hr,
.signin .signup-div .heading-hr {
  border: 2px solid var(--primaryOrangeDark);
  border-radius: 5px;
  width: 70px;
  opacity: 1;
  color: var(--primaryOrangeDark);
  margin: 0;
  margin-bottom: 1rem;
}
.signin .signin-div .form .form-control,
.signin .signup-div .form .form-control {
  height: 56px;
  border: 1px solid #97aabd;
  border-radius: 3px;
}
.signin .signin-div .form .form-control:focus,
.signin .signup-div .form .form-control:focus {
  box-shadow: none;
  border: 2px solid var(--secondaryOrange1);
}
.signin .signin-div .form .forget-pwd,
.signin .signup-div .form .forget-pwd {
  width: 100%;
  text-align: right;
  margin: 0;
  padding: 0;
}
.signin .signin-div .form .forget-pwd a,
.signin .signup-div .form .forget-pwd a {
  color: #ababab;
  text-decoration: none;
  font-size: 14px;
}
.signin .signin-div .form .btn-submit,
.signin .signup-div .form .btn-submit {
  width: 100%;
  color: #fff;
  background-color: var(--secondaryOrange1);
  height: 56px;
  border-radius: 3px;
  margin-top: 0.5rem;
}
.signin .signin-div .or,
.signin .signup-div .or {
  padding: 1rem;
  color: #97aabd;
}
.signin .signin-div .or hr,
.signin .signup-div .or hr {
  border: 1px solid #97aabd;
}
.signin .signin-div .continue,
.signin .signup-div .continue {
  text-align: center;
  color: #6b5e5e;
}
.signin .signin-div .buttons .btn,
.signin .signup-div .buttons .btn {
  height: 38px;
  width: 38px;
  padding: 5px;
  background-color: var(--lightGrey);
  margin: 2px;
  font-size: 18px;
}
.signin .signin-div .not-member p,
.signin .signup-div .not-member p {
  text-align: center;
  padding-top: 1.5rem;
  color: #001f3f;
}
.signin .signin-div .not-member p a,
.signin .signup-div .not-member p a {
  text-decoration: none;
  color: #001f3f;
}

.product-list {
  padding: 3rem;
  background: var(--lightGreyBakground);
  font-family: "Roboto";
}
.product-list .filters-col {
  background-color: var(--white);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  margin: 10px;
  padding: 1rem 0.5rem 0.5rem 1rem;
}
.product-list .filters-col .filters-head {
  font-size: 24px;
  color: #001f3f;
  padding: 1rem 1rem 1rem;
}
.product-list .filters-col .filters-head .heading {
  text-align: left;
  padding: 0;
}
.product-list .filters-col .filters-head .icon {
  text-align: right;
  padding: 0;
}
.product-list .filters-col .filters-head hr {
  width: 100%;
  color: var(--headerLightGray);
  border: 1px solid var(--headerLightGray);
  opacity: 1;
  padding: 0;
  margin: 0;
}
.product-list .filters-col .filters-body {
  padding-left: 1rem;
  padding-right: 1rem;
}
.product-list .filters-col .filters-body .filter {
  padding-top: 1.5rem;
  padding-bottom: 0;
}
.product-list .filters-col .filters-body .filter h6 {
  color: #001f3f;
  font-size: 14px;
  font-weight: 500;
  padding-left: 3px;
}
.product-list .filters-col .filters-body .filter h6 span {
  font-weight: 400;
  color: #001F3F;
}
.product-list .filters-col .filters-body .filter hr {
  color: var(--headerLightGray);
  border: 1px solid var(--headerLightGray);
  opacity: 1;
  padding: 0;
  margin: 0;
}
.product-list .filters-col .filters-body .filter .check-list {
  padding-top: 1rem;
}
.product-list .filters-col .filters-body .filter .check-list .form-check {
  margin-bottom: 0.75em;
  padding-left: 1.8em;
}
.product-list .filters-col .filters-body .filter .check-list .form-check .form-check-label {
  font-size: 14px;
  color: #302F2F;
}
.product-list .products-col {
  border-radius: 8px;
  margin: 10px;
  background-color: var(--white);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.product-list .products-col .listing-toolbar .sort span {
  width: 20vw;
}
.product-list .products-col .listing-toolbar .sort .form-select {
  width: 70%;
  display: inline;
  border: none;
}
.product-list .products-col .listing {
  padding-bottom: 3.5rem;
}
.product-list .products-col .listing .card {
  margin-bottom: 10px;
}
.product-list .products-col .listing .card .card-top {
  background-color: var(--lightGrey);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
}
.product-list .products-col .listing .card .card-top img {
  transform: scale(0.8);
  transition: all 0.4s ease-in;
}
.product-list .products-col .listing .card .card-body {
  font-family: "Roboto";
  padding: 0.25rem !important;
}
.product-list .products-col .listing .card .card-body .card-title {
  font-size: 13px;
  text-align: justify;
}
.product-list .products-col .listing .card .card-body .rating span i {
  font-size: 10px;
  padding: 0;
}
.product-list .products-col .listing .card .card-body .pricing p {
  color: #001f3f;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.product-list .products-col .listing .card .card-body .vat {
  color: #ababab;
  font-weight: normal;
  font-size: 11px;
  text-align: right;
  padding: 0;
  margin: 0;
  padding-right: 0.55rem;
}
.product-list .products-col .listing .card .card-body .btn-row {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.product-list .products-col .listing .card .card-body .btn-row .btncart {
  font-size: 14px;
  border: 0.5px solid rgba(51, 51, 51, 0.2666666667);
  align-items: center;
  justify-content: center;
}
.product-list .products-col .listing .card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-list .products-col .listing .card:hover .card-top img {
  transform: scale(0.9);
}
.product-list .products-col .listing .card:hover .btn-row .btncart {
  color: var(--white);
  background-color: var(--primaryOrangeDark);
  border: 0.5px solid var(--primaryOrangeDark);
}

@media only screen and (min-width: 800px) and (max-width: 1124px) {
  .banner #bannerCarousel .text .text-col1 {
    margin-top: -45px;
    padding-left: 100px;
  }
  .banner #bannerCarousel .text .text-col1 h3 {
    color: var(--white);
    font-size: 1rem;
    margin-top: -180px;
  }
  .banner #bannerCarousel .text .text-col1 h2 {
    color: var(--white);
    font-size: 1.25rem;
  }
  .banner #bannerCarousel .text .text-col1 .btn-shop {
    background: var(--primaryOrangeDark);
    color: var(--white);
    font-size: 0.75rem;
    width: 150px;
  }
  .banner #bannerCarousel .text .text-col2 {
    margin-top: -45px;
    padding-left: 100px;
  }
  .banner #bannerCarousel .text .text-col2 .upto {
    color: var(--white);
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: -190px;
  }
  .banner #bannerCarousel .text .text-col2 .discount {
    font-family: "Roboto";
    color: var(--primaryOrangeDark);
    font-weight: 600;
    font-size: 7.5rem;
    margin-top: -2.25rem;
    margin-left: -36px;
    -webkit-text-fill-color: var(--primaryOrangeDark);
    -webkit-text-stroke: 3px var(--white);
  }
  .banner #bannerCarousel .text .text-col2 .off {
    display: grid;
  }
  .banner #bannerCarousel .text .text-col2 .off .precentage {
    -webkit-text-fill-color: var(--primaryOrangeDark);
    -webkit-text-stroke: 3px var(--white);
    font-family: "Roboto";
    color: var(--primaryOrangeDark);
    font-weight: 600;
    font-size: 4rem;
    margin-left: -6vw;
    margin-top: -2.25rem;
  }
  .banner #bannerCarousel .text .text-col2 .off p {
    color: var(--white);
    font-size: 2rem;
    font-weight: 800;
    margin-left: -6vw;
    margin-top: -2.25rem;
  }
}
@media only screen and (max-width: 600px) {
  .header-mobile {
    background-color: var(--headerBlack);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .header-mobile .mobile-nav-toggle {
    color: var(--white);
    font-size: 1.25rem;
  }
  .header-mobile .logo {
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
  .header-mobile .logo img {
    width: 165px !important;
  }
  .header-mobile .user-nav {
    margin-top: -15px;
  }
  .header-mobile .user-nav .user-nav-item {
    width: 40px;
    margin: 0.25rem;
    float: right;
  }
  .header-mobile .user-nav .user-nav-item a {
    color: var(--white);
    text-decoration: none;
    font-size: 13px;
  }
  .header-mobile .user-nav .user-nav-item a i {
    color: var(--secondaryOrange1);
  }
  .header-mobile .searchbar {
    background-color: var(--white);
    border-radius: 5px;
  }
  .header-mobile .searchbar .form-control {
    font-size: 0.75rem;
  }
  .ticker {
    height: 50px;
  }
  .ticker .ticker-item {
    margin: 0.5rem 0rem;
    border-right: 0;
    font-family: Roboto;
  }
  .ticker .ticker-item .icon {
    height: 35px;
    width: 35px;
  }
  .ticker .ticker-item .icon img {
    width: 100%;
    padding: 0.25rem 0.25rem;
  }
  .ticker .ticker-item .ticker-para {
    font-size: 12px !important;
    padding: 0.5rem 0.5rem;
  }
  .ticker .ticker-item .ticker-para1 {
    font-size: 12px !important;
    padding: 0;
  }
  .ticker .ticker-item .ticker-para2 {
    font-size: 10px !important;
  }
  .banner #bannerCarousel1 .text-col {
    font-family: "Roboto";
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner #bannerCarousel1 .text-col .banner-heading-sm {
    color: var(--white);
    font-size: 1.25rem;
    margin-top: -600px;
    position: absolute;
  }
  .banner #bannerCarousel1 .text-col .banner-heading-lg {
    color: var(--white);
    font-size: 1.5rem;
    margin-top: -550px;
    text-align: center;
    position: absolute;
  }
  .banner #bannerCarousel1 .text-col .discount {
    font-family: "Roboto";
    color: var(--primaryOrangeDark);
    font-weight: 600;
    font-size: 6rem;
    margin-top: -275px;
    position: absolute;
    margin-left: -10px;
    -webkit-text-fill-color: var(--primaryOrangeDark);
    -webkit-text-stroke: 3px var(--white);
  }
  .banner #bannerCarousel1 .text-col .off {
    display: grid;
    margin-left: 75px;
  }
  .banner #bannerCarousel1 .text-col .off .precentage {
    -webkit-text-fill-color: var(--primaryOrangeDark);
    -webkit-text-stroke: 1.5px var(--white);
    font-family: "Roboto";
    color: var(--primaryOrangeDark);
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: -255px;
    margin-left: 15px;
  }
  .banner #bannerCarousel1 .text-col .off p {
    color: var(--white);
    font-size: 2rem;
    font-weight: 800;
    margin-top: -220px;
  }
  .banner #bannerCarousel1 .text-col .btn-shop {
    background: var(--primaryOrangeDark);
    color: var(--white);
    margin-top: -300px;
    position: absolute;
    font-size: 0.75rem;
    margin-left: -15px;
    font-weight: 600;
    padding-left: 10px 5px;
    width: 150px;
  }
  .best-seller .card .card2 .btn-shop-now {
    width: 100px;
  }
  .section-heading {
    font-size: 1.4rem !important;
    font-weight: 600 !important;
    color: var(--darkGrey);
    font-family: Roboto;
  }
  .section-heading1 {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    color: var(--darkGrey);
    font-family: Roboto;
  }
  .categories {
    height: auto !important;
  }
  .categories .buttons {
    text-align: right;
  }
  .categories #category-slider-phone .card {
    align-items: center;
    justify-content: center;
  }
  .categories #category-slider-phone .card .circle-outer {
    padding: 0rem;
  }
  .categories #category-slider-phone .card .circle-outer .circle {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: var(--headerLightGray);
    padding: 1.5rem;
    transition: all 0.5s ease-in;
  }
  .categories #category-slider-phone .card .circle-outer .circle .img2 {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%) scale(1.3);
    transition: transform 0.5s ease;
  }
  .categories #category-slider-phone .card .circle-outer .circle .img1 {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%) scale(1.3);
    transition: transform 0.5s ease;
  }
  .categories #category-slider-phone .card .category-title h5 {
    font-size: 0.75em !important;
  }
  .categories #category-slider-phone .card:hover .circle-outer .circle .img1 {
    transform: translate(-50%, -50%) scale(1.5);
  }
  .categories #category-slider-phone .card:hover .circle-outer .circle .img2 {
    transform: translate(-50%, -50%) scale(1.5);
  }
  .categories #category-slider-phone .card:hover .category-title {
    color: var(--primaryOrangeDark);
  }
  .sale .card {
    margin-top: 0.5rem;
  }
  .sale .card .card1 {
    height: 310px;
  }
  .sale .card .card2 {
    height: 210px;
  }
  .sale .card .card2 .btn-shop-now {
    margin-top: 150px;
  }
  .most-popular {
    padding-bottom: 1rem !important;
  }
  .most-popular .buttons {
    text-align: right;
  }
  .most-popular #popular-slider-phone .card {
    margin-bottom: 10px;
  }
  .most-popular #popular-slider-phone .card .card-top {
    background-color: var(--lightGrey);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
  }
  .most-popular #popular-slider-phone .card .card-top img {
    transform: scale(0.8);
    transition: all 0.4s ease-in;
  }
  .most-popular #popular-slider-phone .card .card-body {
    font-family: "Roboto";
    padding: 0.25rem !important;
  }
  .most-popular #popular-slider-phone .card .card-body .card-title {
    font-size: 12px;
    text-align: justify;
  }
  .most-popular #popular-slider-phone .card .card-body .rating span i {
    font-size: 10px;
    padding: 0;
  }
  .most-popular #popular-slider-phone .card .card-body .pricing p {
    color: #001f3f;
    text-align: right;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    margin: 0;
  }
  .most-popular #popular-slider-phone .card .card-body .vat {
    color: #ababab;
    font-weight: normal;
    font-size: 11px;
    text-align: right;
    padding: 0;
    margin: 0;
    padding-right: 0.55rem;
  }
  .most-popular #popular-slider-phone .card .card-body .btn-row {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .most-popular #popular-slider-phone .card .card-body .btn-row .btncart {
    font-size: 14px;
    border: 0.5px solid rgba(51, 51, 51, 0.2666666667);
    align-items: center;
    justify-content: center;
  }
  .premium-brands .buttons {
    text-align: right;
  }
  .premium-brands .buttons .carousel-control-prev,
  .premium-brands .buttons .carousel-control-next {
    color: var(--darkGrey);
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
  }
  .premium-brands .buttons .carousel-control-prev:hover,
  .premium-brands .buttons .carousel-control-next:hover {
    color: var(--black);
  }
  .premium-brands .carousel .carousel-item .card {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: linear-gradient(333deg, rgb(255, 255, 255) 0%, rgb(220, 220, 220) 75%, rgb(187, 187, 187) 100%);
  }
  .premium-brands .carousel .carousel-item.active .card {
    background: linear-gradient(333deg, rgb(255, 255, 255) 0%, rgb(253, 214, 202) 75%, rgb(250, 191, 173) 100%);
  }
  .new-products {
    height: 500px;
    padding-bottom: 1rem !important;
  }
  .new-products .buttons {
    text-align: right;
  }
  .new-products #products-slider-phone .card {
    margin-bottom: 10px;
  }
  .new-products #products-slider-phone .card .card-top {
    background-color: var(--lightGrey);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
  }
  .new-products #products-slider-phone .card .card-top img {
    transform: scale(0.8);
    transition: all 0.4s ease-in;
  }
  .new-products #products-slider-phone .card .card-body {
    display: block;
    font-family: "Roboto";
    padding: 0.25rem !important;
  }
  .new-products #products-slider-phone .card .card-body .card-title {
    font-size: 12px;
    text-align: justify;
  }
  .new-products #products-slider-phone .card .card-body .rating span i {
    font-size: 10px;
    padding: 0;
  }
  .new-products #products-slider-phone .card .card-body .pricing p {
    color: #001f3f;
    text-align: right;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    margin: 0;
  }
  .new-products #products-slider-phone .card .card-body .vat {
    color: #ababab;
    font-weight: normal;
    font-size: 11px;
    text-align: right;
    padding: 0;
    margin: 0;
    padding-right: 0.55rem;
  }
  .new-products #products-slider-phone .card .card-body .btn-row {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .new-products #products-slider-phone .card .card-body .btn-row .btncart {
    font-size: 14px;
    border: 0.5px solid rgba(51, 51, 51, 0.2666666667);
    align-items: center;
    justify-content: center;
  }
  .customer-reviews .card .col1 {
    max-width: 30vw;
  }
  .customer-reviews .card .col1 .img-card .img-div {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .customer-reviews .card .col1 .img-card .name h5 {
    font-size: 12px;
  }
  .customer-reviews .card .col1 .img-card .name p {
    font-size: 10px;
  }
  .customer-reviews .card .col2 {
    max-width: 70vw;
    margin-left: -30px;
  }
  .customer-reviews .card .col2 .review {
    margin-top: 3rem !important;
  }
  .customer-reviews .card .col2 .review .para-text {
    font-size: 12px !important;
    padding: 1rem 2.5rem !important;
  }
  .newsletter {
    padding: 3rem 1rem;
  }
  .newsletter .img-row .subscribe {
    font-size: 20px;
  }
  .newsletter .img-row .para-text,
  .newsletter .img-row .para-sub-text {
    font-size: 12px;
    margin: 0;
  }
  .newsletter .img-row .col-6 {
    width: 80vw;
  }
  .newsletter .img-row .col-6 .input-group .form-control {
    font-size: 12px;
    height: 40px;
  }
  .newsletter .img-row .col-6 .input-group .btn {
    min-height: 40px;
    font-size: 12px;
  }
  #footer .footer-phone {
    font-family: "Roboto";
  }
  #footer .footer-phone .footer-img {
    width: 70px;
  }
  #footer .footer-phone .para-text {
    color: var(--white);
    font-size: 14px;
    text-align: justify;
  }
  #footer .footer-phone hr {
    color: var(--white);
    border: 0.2px solid var(--white);
    opacity: 0.7;
  }
  #footer .footer-phone .title {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }
  #footer .footer-phone .detail {
    color: var(--white);
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  #footer .footer-phone .orange {
    border: 2px solid var(--primaryOrangeDark);
    border-radius: 5px;
    width: 30px;
    opacity: 1;
    color: var(--primaryOrangeDark);
    margin: 0;
    margin-bottom: 1rem;
  }
  #footer .footer-phone .icons {
    margin: 0.25rem;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-color: var(--primaryOrangeDark);
  }
  #footer .footer-phone .icons i {
    font-size: 1.25rem;
    margin-left: -2px;
    margin-top: 7px;
    color: var(--darkGrey);
  }
  #footer .footer-phone #mobile_footer_menu {
    font-family: "Poppins";
  }
  #footer .footer-phone #mobile_footer_menu .accordion-header {
    border-bottom: 2px solid var(--white);
    opacity: 0.7;
  }
  #footer .footer-phone #mobile_footer_menu .accordion-header a {
    background-color: var(--darkGrey) !important;
    color: var(--white);
    text-decoration: none;
    padding-left: 0;
  }
  #footer .footer-phone #mobile_footer_menu .accordion-header a::after {
    flex-shrink: 0;
    background: none !important;
    text-decoration: none;
    width: auto;
    height: auto;
    margin-left: auto;
    content: ">";
    text-align: right;
    font-size: 20px;
    color: var(--bs-light);
    transition: transform 0.2s ease-in-out;
  }
  #footer .footer-phone #mobile_footer_menu .accordion-button:not(.collapsed)::after {
    transform: rotate(270deg);
  }
  #footer .footer-phone #mobile_footer_menu .accordion-body {
    padding: 10px 0 0 0;
  }
  #footer .footer-phone #mobile_footer_menu .accordion-body .mobile_footer_text {
    padding: 10px 0 0 0;
    margin: 0;
  }
  #footer .footer-phone #mobile_footer_menu .accordion-body .mobile_footer_text a {
    color: var(--white);
    text-decoration: none;
    font-size: 13px;
  }
  #footer .footer-phone .orange-lg {
    border: 1px solid var(--primaryOrangeDark);
    border-radius: 5px;
    width: 80vw;
    opacity: 1;
    color: var(--primaryOrangeDark);
    margin: 0;
    margin-bottom: 1rem;
  }
  .signin {
    padding: 2rem;
  }
  .signin .signin-div,
  .signin .signup-div {
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 16px;
    padding: 1rem 1.5rem;
  }
  .signin .signin-div .head,
  .signin .signup-div .head {
    font: "Roboto";
    font-size: 22px;
  }
  .signin .signin-div .heading-hr,
  .signin .signup-div .heading-hr {
    width: 50px;
  }
  .signin .signin-div .form .form-control,
  .signin .signup-div .form .form-control {
    height: 38px;
  }
  .signin .signin-div .form .forget-pwd a,
  .signin .signup-div .form .forget-pwd a {
    font-size: 12px;
  }
  .signin .signin-div .form .btn-submit,
  .signin .signup-div .form .btn-submit {
    height: 38px;
  }
  .signin .signin-div .continue,
  .signin .signup-div .continue {
    text-align: center;
    color: #6b5e5e;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .slider h2 {
    font-size: 30px;
  }
  .slider h3 {
    padding-top: 0px;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
  }
}/*# sourceMappingURL=main.css.map */